<footer>
        <div class="card text-center">
            <div class="card-header">
                {{ getAnio }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ capitalizar 'carlos cubas sanchez'}}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                5 days ago
            </div>
        </div>
    </footer>
</body>

</html>